.carousel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .carousel-grid-item1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    /* text-align: left; */
  }
  
  .location-image1 {
    width: 280px;
    max-width: 250px;
    height: auto;
    object-fit: fill;
    margin-bottom: 10px;
  }
  
  .enquire-button {
    background-color: #ff0066;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .enquire-button:hover {
    background-color: #e6005c;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: black !important;
  }