.destination-image{
    width: 80px;
}
.carousel-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .carousel-grid-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .location-name {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    /* margin-bottom: 10px; */
  }
  .location-name::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ccc; 
    position: absolute;
    margin-top: 20px;
    /* bottom: -10px;  */
    left: 0;
  }   
  .location-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .enquire-button {
    background-color: #ff0066;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .enquire-button:hover {
    background-color: #e6005c;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: black !important;
    top: -50px !important;
    height: 5px;
    border-radius: 10px;
  } 
  .carousel-indicators{
    top:-40px;
    left: 65%;
    /* height: 550px; */
  }
.destination-container{
    background-color: rgb(241, 241, 241);
    padding: 40px;
}